html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: pacifico, "SF Pro Display", sans-serif;
    font-size: 10px;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: url(../img/bg3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#main {
    width: 100vw;
    height: 100vh;
    background: rgba(42, 38, 61, 0.82);
}

.flex-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icon {
    height: 20px;
    margin: -30px 0 0 15px;
    align-self: flex-start;
    justify-self: flex-start;
}

img {
    max-width: 100%;
}

h1 {
    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    color: #FCB371;
}

input[type=text],
input[type=email],
input[type=number],
select,
textarea,
button {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-top: 8px;
    width: 200px;
}

input[type=text] {
    margin-top: 0;
}

button {
    background-color: #FCB371;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: pacifico;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

button:hover {
    background-color: #fca356;
}

/* Script of rotating back button */
.rotate {
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.normal {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

/* Media Queries */
@media (min-width:425px) {
    body {
        font-size: 15px;
    }

    flex-container {
        flex-wrap: wrap;
    }

    input[type=text],
    input[type=email],
    input[type=number],
    select,
    textarea,
    button {
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        margin-top: 12px;
        width: 250px;
    }

    h1 {
        margin-top: 0px;
    }

    input[type=text] {
        margin-top: 0px;
    }

    button {
        text-align: center;
    }
}

@media (min-width:768px) {
    .flex-container {
        flex-wrap: wrap;
    }

    input[type=text],
    input[type=email],
    textarea,
    button {
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        margin-top: 16px;
        width: 300px;
    }

    .form-control,
    button,
    select{
        height:46px;
    }

    button{
        display:block;
    }

    select,
    .form-control,
    textarea{
        font-size:11px;
    }

    input[type=text]{
        margin-top:0;
    }

    input[type=number],
    select{
        width:150px;
    }
}

@media (min-width:1024px){

    h1{
        font-size:40px;
    }

    input[type=text],
    input[type=email],
    textarea,
    button {
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        margin-top: 16px;
        width: 340px;
    }   

    input[type=number],
    select{
        width:170px;
    }

    select,
    .form-control,
    textarea{
        font-size:13px;
    }
    
    input[type=text]{
        margin-top:0;
    }
}

@media (min-width:1280px){
    h1{
        font-size:48px;
    }

    input[type=text],
    input[type=email],
    textarea,
    button {
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        margin-top: 16px;
        width: 382px;
    }   

    input[type=number],
    select{
        width:191px;
    }

    select,
    .form-control,
    textarea{
        font-size:14px;
    }
    
    input[type=text]{
        margin-top:0;
    }
}

@media (min-width:1366px){
    h1{
        font-size:50px;
    }

    input[type=text],
    input[type=email],
    textarea,
    button {
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        margin-top: 16px;
        width: 400px;
    }   

    input[type=number],
    select{
        width:200px;
    }

    select,
    .form-control,
    textarea{
        font-size:16px;
    }
    
    input[type=text]{
        margin-top:0;
    }

    button{
        font-size: 16px;
    }
}